.container{

    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 40px;
    font-size: small;
    margin-right: 100px;
    
    
}
.container2{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 20px;
    font-size: small;   
}
img{
    height: 300px;
    width: 250px;
    border-radius: 50% ;
    margin-top: 40px;
}
.ll{
    background-color: rgb(229, 229, 229);
    width: 350px;
    
}
.lk{
    background-color: rgb(229, 229, 229);
    width: 350px;
}
