/* .imgg{
    align-items: start;
    margin-top: 50px;
    margin-right: 500px;
     display: flex;
    align-items: flex-start; 
    justify-content: space-between;
    margin-left: 50px;

}
form{
    /* display: flex; */
    /* justify-content: space-between;
    /* align-items: end; */
    /* margin-left: 1000px;
    padding-top: 10px;
    line-height: 0.5em;;
}
h6{ 
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: large;
    padding-top: 50px;
    line-height: 50%;
    margin-bottom: 10px;
text-align: left;
color: rgb(49, 49, 49);
padding-left: 40px;
}
.cl{
    height: 40px;
    width: 300px;
    background-color: rgb(212, 210, 210);
    padding-left: 20px;
    margin-bottom: 10px;
    border: none;

}
.bg {
    margin-top: -500px; 
    background-color: rgb(248, 246, 246);
    width: 400px;
    height: 350px;
    margin-left: 60px;
    margin-bottom: 50px;
}
   

.bu{
    width: 100px;
    height: 40px;
    font-size: large;
    font-weight: 700;
    border-radius: 20px;
    margin-bottom: 30px;
    justify-content: end;
    border: none;
    background-color: rgb(227, 226, 226);
    /* padding-top: 50px; */
/* }
.bll{
    padding-top: 20px;
    margin-left: 220px;
}
.cll{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: large;
    padding-top: 10px;
    line-height: 50%;
    margin-bottom: 10px;
text-align: left;
color: rgb(49, 49, 49);
padding-left: 40px;
}
 .end{
        text-align: center;
        background-color: rgb(218, 218, 218);
        height: 50px;
        padding: 10px;
        
    } */ 