 img{
    height: 200px;
    width: 200px;
    padding-top: 100px;
}
.ll{
 display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding-left: 150px;
gap: 20px;
padding-right: 150px;
}
.card {
    margin-top: 50px;
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 20px; 
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  text-align: center;
  overflow: hidden;
}
h5{
    color: rgb(188, 184, 184);
    font-weight: 500;
    
}
.bu{
     width: 250px;
    height: 60px;
    font-size: large;
    font-weight: 700;
    margin-bottom: 30px;
    justify-content: end;
    border: none;
    background-color: rgb(249, 180, 51);
     border-radius: 10%; 

}
.icon{
    color: orange;
}
.icon1{
    color: black;
}  