/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(227, 226, 226);
  padding: 10px 40px;
  border-radius: 5px;
  padding-left: 50px;
}

.logo {
  background-color: rgb(193, 64, 64);
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 18px;    
  padding-left: 15px;
  padding-right: 15px;
}

.nav {
  list-style: none;
  display: flex;
  gap: 50px;
  padding-right: 30px;
  
}

.nav li {
  font-weight: 700;
}

 */
